.comment,
.prolog,
.doctype,
.cdata {
  color: var(--shiki-token-comment);
}

.punctuation {
  color: var(--shiki-token-punctuation);
}

.namespace {
  opacity: 0.7;
}

.property,
.tag,
.constant,
.symbol,
.deleted {
  color: var(--shiki-token-keyword);
}

.boolean,
.number {
  color: var(--shiki-token-constant);
}

.selector,
.attr-name,
.string,
.char,
.builtin,
.inserted {
  color: var(--shiki-token-string);
}

.operator,
.entity,
.url,
.language-css .string,
.style .string,
.variable {
  color: var(--shiki-token-text);
}

.atrule,
.attr-value,
.function,
.class-name {
  color: var(--shiki-token-function);
}

.keyword {
  color: var(--shiki-token-keyword);
}

.regex,
.important {
  color: var(--shiki-token-parameter);
}

.important,
.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.entity {
  cursor: help;
}
