# .env file forscripts

# Terminology Search Script /terminology-search.js
# I am using Nous:Hermes for this task. It is free for up to 100k tokens.
# https://openrouter.ai/nousresearch/hermes-3-llama-3.1-405b:free
# Get an openrouter key at: https://openrouter.ai/settings/keys
# Script can use any openrouter llm model with this api key.
# The script has a fallback to openai if you have an openAI key instead. (just dont set your openrouter key)
# Get an openai key at: https://platform.openai.com/account/api-keys

# Chutes.ai may be another potential free-tier option. https://chutes.ai/pricing
# gemini currently offers a free tier also. https://gemini.google.com/pricing

OPENROUTER_API_KEY=https://openrouter.ai/settings/keys
# OPENAI_API_KEY=xxx